@import '../../../styles/values';

.page-project {

    .projects-container {
        position: relative;
    }

    .form-project {
        position: absolute;
        left: 0;
        height: 100%;
        padding: 20px;
        opacity: 0;
        width: $widthForm;
        transition: all 1.5s ease;
        box-shadow: inset -4px 0px 8px rgba(0,0,0,0.2);

        &.open {
            opacity: 1;
        }

        .glyphicon-remove {
            position: absolute;
            right: 0;
            top: 0;
            color: $primaryColor;
            font-size: 2rem;
            border-radius: 5000px;
            border: 2px solid $primaryColor;
            padding: 5px 5px 3px 5px;
            margin: 10px;
            cursor: pointer;
        }

        p {
            margin:  40px 0 10px 0;
        }

        input {
            width: 100%;
        }

        .form-button {
            text-align: right;
            margin-top: 10px;
        }
    }

    .list-project {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        background: white;
        padding: 20px 20px;
        &.open {
            transform: translate3d($widthForm, 0, 0);
        }

        h1 {
            color: $primaryColor;
            position: relative;
            left: -1px;
            margin-bottom: 15px;
        }

        .project {
            width: 250px;
            height: 250px;
            float: left;
            margin: 0 20px 0 0;
            border: 1px solid $primaryColor;
            background: white;
            border-radius: 3px;
            position: relative;

            .title {
                display: block;
                width: 100%;
                text-align: center;
                background: $primaryColor;
                color: $lightTextColor;
                text-transform: uppercase;
                padding: 20px 0;
                transition: all 0.3s ease;
                font-size: 1.0rem;
                height: 60px;
                font-weight: 700;
                transform: translate3d(0, 0, 0);
                position: absolute;
                bottom: 0;
            }
            .desc {
                transform: translate3d(0, 0, 0);
                transition: all 0.3s ease;
                font-size: 10rem;
                color: $primaryColor;
            }

            &:hover {
                .title {
                    transform: translate3d(0, -190px, 0);
                }

                .desc {
                    transform: translate3d(0,  60px, 0);
                }
            }
        }

        .help-empty-project {
            position: absolute;
            top: 150px;
            left: 35%;
            color: $greyColor;
            .arrow {
                width: 70px;
                height: 70px;
                background: $greyColor;
                transform: rotate(200deg);
                -webkit-mask: url(../assets/arrow-35.svg) center / contain no-repeat;
            }
            .text {
                margin-left: 50px;
                margin-top: 10px;
            }
        }

        .new-project {
            text-align: center;
            transition: all 0.3s ease;
            .glyphicon-plus {
                border-radius: 50px;
                border: 2px solid $primaryColor;
                color: $primaryColor;
                font-size: 3rem;
                padding: 20px;
                margin-top: 70px;
                transition: all 0.3s ease;
            }

            .new-project-label {
                color: $primaryColor;
                text-transform: uppercase;
                font-weight: 700;
                margin-top: 10px;
                transition: all 0.3s ease;
            }

            &:hover {
                background: $primaryColor;

                .glyphicon-plus {
                    border: 1px solid $lightTextColor;
                    color: $lightTextColor;
                }

                .new-project-label {
                    color: $lightTextColor;
                }
            }
        }
    }

}
