@import "../../../../styles/values";

.page-user .wrapper {
    position: relative;
    .list-user {
        .button-add {
            float: right;
            margin-bottom: 10px;
            .glyphicon-plus {
                padding-right: 15px;
            }
        }

        table {
            width: 100%;

            .header {
                background: $primaryColor;
                color: $lightTextColor;
                border: 1px solid $primaryColor;
                th {
                    padding: 15px 0;
                }

                .name {
                    width: 30%;
                }
                .email {
                    width: 30%;
                }
                .role {
                    width: 30%;
                }
            }

            td {
                padding: 15px 0;
                text-align: center;
                border-left: 1px solid $primaryColor;
                border-right: 1px solid $primaryColor;
                border-bottom: 1px solid $primaryColor;
            }

            .user-row {
                .glyphicon {
                    color: $darkPrimaryColor;
                    margin: 0 5px;
                    font-size: 1.2rem;
                    cursor: pointer;
                }

                &.current-user {
                    td{
                        color: $secondaryColor;
                    }
                }
            }
        }
    }

    .form-crud {
        select {
            width: 100%;
        }
        input {
            margin-bottom: 10px;
        }

    }
}

.modal-remove-user {
    .buttons {
        float: right;
    }
}
