@import "../../../styles/values";

.page-user .wrapper {
    position: relative;
    .list-user {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        background: white;

        &.open {
            transform: translate3d($widthForm, 0, 0);
        }

        padding: 20px 20px;

        .button-add {
            float: right;
            margin-bottom: 10px;
            .glyphicon-plus {
                padding-right: 15px;
            }
        }

        h1 {
            text-align: left;
            color: $primaryColor;
        }

        table {
            width: 100%;

            .header {
                background: $primaryColor;
                color: $lightTextColor;
                border: 1px solid $primaryColor;
                th {
                    padding: 15px 0;
                }

                .name {
                    width: 30%;
                }
                .email {
                    width: 30%;
                }
                .role {
                    width: 30%;
                }
            }

            td {
                padding: 15px 0;
                text-align: center;
                border-left: 1px solid $primaryColor;
                border-right: 1px solid $primaryColor;
                border-bottom: 1px solid $primaryColor;
            }

            .user-row {
                .glyphicon {
                    color: $darkPrimaryColor;
                    margin: 0 5px;
                    font-size: 1.2rem;
                    cursor: pointer;
                }

                &.current-user {
                    td{
                        color: $secondaryColor;
                    }
                }
            }
        }
    }

    .form-user {
        position: absolute;
        left: 0;
        height: 100%;
        padding: 20px;
        opacity: 0;
        width: $widthForm;
        transition: all 1.5s ease;
        box-shadow: inset -4px 0px 8px rgba(0,0,0,0.2);

        &.open {
            opacity: 1;

        }

        .glyphicon-remove {
            position: absolute;
            right: 0;
            top: 0;
            color: $primaryColor;
            font-size: 2rem;
            border-radius: 5000px;
            border: 2px solid $primaryColor;
            padding: 5px 5px 3px 5px;
            margin: 10px;
            cursor: pointer;
        }

        h1 {
            margin-bottom:  40px;
        }

        input {
            width: 100%;
            margin-bottom: 10px;
        }

        select {
            width: 100%;
        }

        .form-button {
            text-align: right;
            margin-top: 10px;
        }
    }
}

.modal-remove-user {
    .buttons {
        float: right;
    }
}
