<div class="auth-form">
    <h1>Peashooter</h1>

    <span class="generality" ng-bind-html="'Generality' | translate"></span>
    <form novalidate name="auth.authForm">
        <div class="form-group">
            <input type="email" id="email" name="email" ng-model="auth.user.email" required placeholder="{{'Email *' | translate}}"/>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" ng-model="auth.user.password" required placeholder="{{'Password * ' | translate}}"/>
        </div>
        <div class="form-button">
            <div class="no-account">{{'No Account' | translate}}</div>
            <button type="submit" ng-click="auth.submit()" v-busy="auth.logInProgress" v-pressable>Sign In</button>
        </div>
    </form>
</div>
