$menuColor: #2b2f3e;

$primaryColor: #00AC6B;
$lightPrimaryColor: #35D699;
$darkPrimaryColor: #20815D;

$secondaryColor: #FFAB00;
$lightSecondaryColor: #FFC040;
$darkSecondaryColor: #BF9030;

$lightTextColor: #FFFFFF;
$darkTextColor: #000000;

$smallBreak: 640px;
$mediumBreak: 1280px;
$menuHeight: 120px;
