$menuColor: #2b2f3e;

$primaryColor: #00AC6B;
$lightPrimaryColor: #35D699;
$darkPrimaryColor: #20815D;

$secondaryColor: #E9003A;
$lightSecondaryColor: #F46E8F;
$darkSecondaryColor: #970026;

$greyColor: #8a837e;


$lightTextColor: #FFFFFF;
$darkTextColor: #000000;


$smallBreak: 640px;
$mediumBreak: 1280px;
$menuWidth: 240px;
$widthForm: 450px;
