@import '../../../../styles/values';

.page-project {

    .projects-container {
        position: relative;
    }

    .list-project {

        .project {
            width: 250px;
            height: 250px;
            float: left;
            margin: 0 20px 20px 0;
            border: 1px solid $primaryColor;
            background: white;
            border-radius: 3px;
            position: relative;

            .desc {
                font-size: 8rem;
                color: $primaryColor;
            }

            .title {
                width: 101%;
                text-align: center;
                background: $primaryColor;
                color: $lightTextColor;
                text-transform: uppercase;
                padding: 20px 0;
                font-size: 1.0rem;
                font-weight: 700;
                position: absolute;
                bottom: 0;
                margin: 0;
            }
        }

        .help-empty-project {
            position: absolute;
            top: 150px;
            left: 35%;
            .arrow {
                width: 70px;
                height: 70px;
                background: $greyColor;
                transform: rotate(200deg);
                -webkit-mask: url(../assets/arrow-35.svg) center / contain no-repeat;
            }
            .text {
                margin-left: 50px;
                margin-top: 10px;
            }
        }

        .new-project {
            text-align: center;
            transition: all 0.3s ease;
            .glyphicon-plus {
                border-radius: 50px;
                border: 2px solid $primaryColor;
                color: $primaryColor;
                font-size: 3rem;
                padding: 20px;
                margin-top: 70px;
                transition: all 0.3s ease;
            }

            .new-project-label {
                color: $primaryColor;
                text-transform: uppercase;
                font-weight: 700;
                margin-top: 10px;
                transition: all 0.3s ease;
            }

            &:hover {
                background: $primaryColor;

                .glyphicon-plus {
                    border: 2px solid $lightTextColor;
                    color: $lightTextColor;
                }

                .new-project-label {
                    color: $lightTextColor;
                }
            }
        }
    }

    .list-build {

    }

}
